## <font color='blue'>Algorítmos e Estrutura de Dados I</font>
### <font color='blue'>Aula 07 - Estrutura Sequencial</font>

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.5

#### Pressione as teclas shift e enter para executar o código em uma célula ou pressione o botão Run no menu superior.

## <font color='blue'>Recapitulando</font>

### Operações Aritméticas

In [2]:
# Soma
4 + 4

8

In [4]:
# Subtração
4 - 3

1

In [ ]:
# Multiplicação
3 * 3

In [ ]:
# Divisão
3 / 2

In [ ]:
# Potência
4 ** 2

In [5]:
# Módulo
10 % 3

1

### Função Type

In [ ]:
type(5)

In [ ]:
type(5.0)

In [ ]:
a = 'Estou estudando na Data Science Academy'
type(a)

### Operações com Números Float

In [ ]:
3.1 + 6.4

In [8]:
4 + 4.0

8.0

In [9]:
4 + 4

8

In [10]:
# Resultado é um número float
4 / 2

2.0

In [11]:
# Resultado é um número inteiro
4 // 2

2

In [12]:
4 / 3.0

1.3333333333333333

In [13]:
4 // 3.0

1.0

### Conversão

In [14]:
float(9)

9.0

In [15]:
int(6.0)

6

In [16]:
int(6.5)

6

In [17]:
int(6.6)

6

In [18]:
round(6.5)

6

In [19]:
round(6.6)

7

### Hexadecimal e Binário

In [20]:
hex(394)

'0x18a'

In [21]:
hex(217)

'0xd9'

In [22]:
bin(286)

'0b100011110'

In [23]:
bin(390)

'0b110000110'

### Funções abs, round e pow

In [26]:
# Retorna o valor absoluto
abs(-8)

8

In [25]:
# Retorna o valor absoluto
abs(8)

8

In [24]:
# Retorna o valor com duas casas decimais
round(3.14151922, 2)

3.14

In [27]:
# Potência
pow(4,2)

16

In [28]:
# Potência 5 elevado a 3
pow(5,3)

125

### Trabalhando com Variáveis

In [29]:
# Atribuindo o valor 1 à variável var_teste
var_teste = 1

In [30]:
# Imprimindo o valor da variável
var_teste

1

In [31]:
# Imprimindo o valor da variável
print(var_teste)

1

In [32]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [33]:
var_teste = 2

In [34]:
var_teste

2

In [35]:
type(var_teste)

int

In [36]:
var_teste = 9.5 #alterando o valor da variável pois python é fracamente tipada

In [37]:
type(var_teste)

float

In [38]:
x = 1

In [39]:
x

1

### Declaração Múltipla

In [40]:
pessoa1, pessoa2, pessoa3 = "Bob", "Maria", "Ana"

In [43]:
pessoa1

'Bob'

In [44]:
pessoa2

'Maria'

In [45]:
pessoa3

'Ana'

In [50]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [51]:
fruta1

'Melancia'

In [52]:
fruta2

'Melancia'

In [53]:
fruta3

'Melancia'

In [ ]:
# Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2.
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

> Pode-se usar letras, números e underline em nome de variável (mas não se pode começar com números).

In [54]:
x1 = 50

In [55]:
x1

50

In [58]:
# Mensagem de erro, pois a linguagem Python não permite nomes de variáveis que iniciem com números
1x = 50

SyntaxError: invalid decimal literal (319158066.py, line 2)

> Não se pode usar palavras reservadas como nome de variável

- False      
- class      
- finally    
- is         
- return
- None       
- continue   
- for        
- lambda     
- try
- True       
- def        
- from       
- nonlocal   
- while
- and        
- del        
- global     
- not        
- with
- as         
- elif       
- if         
- or         
- yield
- assert     
- else       
- import     
- pass
- break      
- except     
- in         
- raise

In [59]:
# Não podemos usar palavras reservadas como nome de variável
break = 1

SyntaxError: invalid syntax (103517557.py, line 2)

### Variáveis Atribuídas a Outras Variáveis e Ordem dos Operadores

In [60]:
largura = 2

In [67]:
altura = 4

In [68]:
area = largura * altura

In [69]:
area

8

In [70]:
perimetro = 2 * largura + 2 * altura

In [ ]:
perimetro

In [ ]:
# A ordem dos operadores é a mesma seguida na Matemática
perimetro = 2 * (largura + 2)  * altura

In [ ]:
perimetro

### Operações com Variáveis

In [71]:
idade1 = 25

In [72]:
idade2 = 35

In [73]:
idade1 + idade2

60

In [74]:
idade2 - idade1

10

In [75]:
idade2 * idade1

875

In [76]:
idade2 / idade1

1.4

In [77]:
idade2 % idade1

10

### Concatenação de Variáveis

In [80]:
nome = "Bob"

In [81]:
sobrenome = "Marley"

In [82]:
fullName = nome + " " + sobrenome

In [83]:
fullName

'Bob Marley'

### Criando uma String

Para criar uma string em Python você pode usar aspas simples ou duplas. Por exemplo:

In [84]:
# Uma única palavra
'Oi'

'Oi'

In [85]:
# Uma frase
'Criando uma string em Python'

'Criando uma string em Python'

In [86]:
# Podemos usar aspas duplas
"Podemos usar aspas duplas ou simples para strings em Python"

'Podemos usar aspas duplas ou simples para strings em Python'

In [87]:
# Você pode combinar aspas duplas e simples
"Testando strings em 'Python'"

"Testando strings em 'Python'"

### Imprimindo uma String

In [88]:
print ('Testando Strings em Python')

Testando Strings em Python

In [90]:
print ('Testando \n Strings \n em \n Python') #\n significa new line

Testando
 Strings
 em
 Python

In [91]:
print ('\n')

### Indexando Strings

In [92]:
# Atribuindo uma string
s = 'Projeto pyPRO'

In [93]:
print(s)

Projeto pyPRO

> Indexação em Python começar por zero.

In [94]:
# Primeiro elemento da string
s[0]

'P'

In [95]:
s[1]

'r'

In [96]:
s[2]

'o'

In [97]:
s[3]

'j'

In [98]:
s[4]

'e'

Podemos usar um : para executar um slicing que faz a leitura de tudo até um ponto designado. Por exemplo:

In [99]:
# Retorna todos os elementos da string, começando pela posição 
# (lembre-se que Python começa a indexação pela posição 0),
# até o fim da string.

#posição inicial : Posição final : Passo

s[1:]

'rojeto pyPRO'

In [100]:
# A string original permanece inalterada
s

'Projeto pyPRO'

In [101]:
# Retorna tudo até a posição de índice 3, não será mostrado a posição 3
s[:3]

'Pro'

In [102]:
# Retorna tudo até a posição de índice 4, não será mostrado a posição 5
s[:4]

'Proj'

In [103]:
# Nós também podemos usar a indexação negativa e ler de trás para frente -5 -4 -3 -2 -1
s[-1]

'O'

In [104]:
# Retornar tudo, exceto a última letra
s[:-1]

'Projeto pyPR'

Nós também podemos usar a notação de índice e fatiar a string em pedaços específicos (o padrão é 1). 

Por exemplo, podemos usar dois pontos duas vezes em uma linha e, em seguida, um número que especifica a frequência para retornar elementos.

In [105]:
s[::1]

'Projeto pyPRO'

In [106]:
s[::2]

'PoeopPO'

In [107]:
s[::-1] #espelhamento

'ORPyp otejorP'

### Propriedades de Strings

In [108]:
s

'Projeto pyPRO'

In [109]:
# Alterando um caracter (não é possível alterar um elemento da string)
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [110]:
# Concatenando strings
s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

'Projeto pyPRO é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [114]:
s = s + ' é a melhor maneira de estar preparado para o mercado de trabalho em Ciência de Dados!'

In [111]:
print(s)

Projeto pyPRO

In [112]:
# Podemos usar o símbolo de multiplicação para criar repetição!
letra = 'w'

In [ ]:
letra * 3

## <font color='blue'>Estrutura Sequencial</font>

## Pseudocódigo 1 - Calcular a Área de Um Paralelograma

Nota: Um paralelogramo é um quadrilátero com lados opostos paralelos (e portanto ângulos opostos iguais). Um quadrilátero com lados iguais é chamado de losango e um paralelogramo cujos ângulos são todos ângulos retos é chamado de retângulo.

Inicie
    
    Exiba "Bem-vindo ao Calculador de Área de Paralelogramo"
    Peça para o usuário inserir o comprimento da base
    Armazene o comprimento da base em uma variável
    Peça para o usuário inserir a altura
    Armazene a altura em uma variável
    Calcule a área do paralelogramo:  base * altura
    Armazene o resultado em uma variável
    Exiba o resultado
    
Fim

## Convertendo o Pseudocódigo 1 em Programa Python

In [119]:
print("Bem-vindo ao Calculador de Área de Paralelogramo")

Bem-vindo ao Calculador de Área de Paralelogramo

In [120]:
base = float(input("Insira o comprimento da base: "))

Insira o comprimento da base: 10

In [121]:
altura = float(input("Insira a altura: "))

Insira a altura: 23

In [122]:
area = base * altura

In [123]:
print("A área do paralelogramo é: ", area)

A área do paralelogramo é:  230.0

### *EXEMPLO 01*
Calcular a área de um quadrilátero, com dois lados iguais. Para isso faz a leitura de dois números inteiros, representando os lados e imprime os valores lidos e a área calculada.

base, altura, area representam os nomes das variáveis – podem ser do tipo inteiro ou do tipo real.

In [137]:
base = float(input('Entre com a base:'))
altura = float(input('Entre com a altura:'))
area = base * altura
print('A área é = ', area)

Entre com a base:13
Entre com a altura:23
A área é =  299.0

## EXEMPLO 02
Ler a temperatura em °C e apresentar em °F. 

Dados : F=(9*C+160)/5. Conversão de Celsius para Fahrenheit

In [150]:
celsius = float(input("Entre com a temperatura em C:"))
fare = (9 * celsius + 160) / 5
print("A temperatura em F = ", fare)

Entre com a temperatura em C:32
A temperatura em F =  89.6

In [151]:
## EXEMPLO 03
CALCULAR A DISTÂNCIA ENTRE 2 PONTOS.

SyntaxError: invalid syntax (1613466009.py, line 2)

![Figura](exemplo03.JPG)

In [153]:
from math import pow, sqrt

x1 = float(input("Entre com x1: "))
y1 = float(input("Entre com y1: "))
x2 = float(input("Entre com x2: "))
y2 = float(input("Entre com y2: "))
dx = x2 - x1
dy = y2 - y1
d = sqrt(pow(dx,2)+pow(dy,2))
print("Distância = ", round(d,2))

Entre com x1: 2
Entre com y1: 2
Entre com x2: 5
Entre com y2: 7
Distância =  5.83

In [154]:
print(f"Distância = {d:4.2}") # f de float - variável : qntd dígitos : casas decimais

Distância =  5.8

## <font color='blue'>Exercícios</font>

1. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

In [ ]:
print("Meu nome é Roger e eu tenho 24 anos")

2. Faça um programa para ler e escrever na tela o seu nome e a sua idade.

In [182]:
nome = input("Me chamo: ")
idade = int(input("Minha idade é "))
#nomeIdade = "Me chamo " + nome + " " + "e" + " " + "possuo "+ idade + " anos de idade"
#print(nomeIdade)

print(f"Seu nome é {nome} e você tem {idade} anos de vida!")

Me chamo: Roger
Minha idade é 24
Seu nome é Roger e você tem 24 anos de vida!

3 Faça um script para ler um valor e calcular a raiz quadrada desse valor.

In [180]:
valor = float(input("Digite o valor: "))
print(f"O valor da raiz quadrada é {sqrt(valor)}")

Digite o valor: 25
O valor da raiz quadrada é 5.0

3.1 Faça um algoritmo que receba o ano de nascimento de uma pessoa e o ano atual e mostre:
A idade dessa pessoa em anos;
A idade dessa pessoa em meses;
A idade dessa pessoa em dias;
A idade dessa pessoa em semanas.

In [179]:
anoNasc = (int(input("Digite seu ano de nascimento: ")))
anoAtual = (int(input("Digite o ano atual: ")))
idad = anoAtual - anoNasc
print("Você possui", idad ,"anos de idade.")
idadMeses = idad * 12
print("Você possui", idadMeses, "meses de vida.")
idadDias = idad * 365
print("Você possui", idadDias, "dias de vida.")
idadSem = idad * 52
print("Você possui", idadSem, "semanas de vida.")

Digite seu ano de nascimento: 2000
Digite o ano atual: 2024
Você possui 24 anos de idade.
Você possui 288 meses de vida.
Você possui 8760 dias de vida.
Você possui 1248 semanas de vida.

## 4. Faça um algoritmo que receba o salário de um funcionário, calcule e mostre o novo salário, sabendo-se que este sofreu um aumento de 25%.

In [ ]:
salario float(input("Qual o seu selário?: "))

5. Faça um algoritmo que calcule e mostre a área de um círculo. Sabe-se que 
	Area= π * R2

	π = 3,115

In [186]:
#
#area = 4 * pow(pi, 2)
#print(area)

SyntaxError: invalid syntax (207817524.py, line 1)

6. Cada degrau de uma escada tem Xcm de altura. Faça um algoritmo que receba a altura de cada degrau em cm e a altura que o usuário deseja alcançar subindo a escada (em metros). Faça as conversões, calcule e mostre quantos degraus o usuário deverá subir para atingir seu objetivo.

Obs: não se preocupe com a altura do usuário!

In [185]:
degrau = int(input("Tamanho do degrau (cm): "))
altura = float(input("Qual a altura da escada (m): "))
altura = altura * 100
qtd = round(altura / degrau)
print(f"Você, para atingir seu objetivo, deve subir {qtd} degraus!")

Tamanho do degrau (cm): 23
Qual a altura da escada (m): 2.80
Você, para atingir seu objetivo, deve subir 12 degraus!

# Fim