# AULA 16 - Noções do pacote PANDAS -  parte A
## Algoritmos e Estrutura de Dados I - Prof. Piva
-----------

### Instalação do Pandas
Podemos instalar uma versão específica do Pandas com o seguinte comando:
**!pip install -q pandas==1.5.3**

In [15]:
# Instalação de uma versão exata do pacote Pandas
!pip install -q pandas==2.2.2

In [25]:
# Importação do pacote Pandas para utilização
#from pandas import Dataframe

In [19]:
# Verificando a versão do Pandas
pd.__version__

'2.2.2'

### Manipulando dados em DataFrames

In [21]:
# Criando um dicionário
dados = {'Cidade': ['Sorocaba', 'Campinas', 'São Paulo', 'Ribeirão Preto', 'Jundiaí'],
          'Ano': [2018, 2019, 2020, 2021, 2022],
          'Taxa Desemprego': [1.6, 1.8, 1.9, 1.2, 1.0]}

In [22]:
from pandas import DataFrame

In [23]:
# Converte um dicionário para um DataFrame
df = DataFrame(dados)

In [24]:
# Visualizar as 5  primeiras linhas do DataFrame criado
df.head()

           Cidade   Ano  Taxa Desemprego
0        Sorocaba  2018              1.6
1        Campinas  2019              1.8
2       São Paulo  2020              1.9
3  Ribeirão Preto  2021              1.2
4         Jundiaí  2022              1.0

In [26]:
df.tail() # Visualizar os 5 últimos

           Cidade   Ano  Taxa Desemprego
0        Sorocaba  2018              1.6
1        Campinas  2019              1.8
2       São Paulo  2020              1.9
3  Ribeirão Preto  2021              1.2
4         Jundiaí  2022              1.0

In [27]:
#Verificando o tipo de dados do objeto df
type(df)

pandas.core.frame.DataFrame

In [28]:
# Reorganizando as colunas do DataFrame
DataFrame(dados, columns = ['Cidade', 'Taxa Desemprego', 'Ano'])

           Cidade  Taxa Desemprego   Ano
0        Sorocaba              1.6  2018
1        Campinas              1.8  2019
2       São Paulo              1.9  2020
3  Ribeirão Preto              1.2  2021
4         Jundiaí              1.0  2022

In [31]:
#Criando um outro dataframe, com os mesmos dados anteriores, acrescentando uma coluna e mudando o índice. #NaN = not a number
df2 = DataFrame(dados,
                columns = ['Cidade', 'Taxa Desemprego', 'Taxa Crescimento', 'Ano'],
                index = ['Cidade1', 'Cidade2', 'Cidade3', 'Cidade4', 'Cidade5'])

In [48]:
df2

                 Cidade  Taxa Desemprego Taxa Crescimento   Ano
Cidade1        Sorocaba              1.6              NaN  2018
Cidade2        Campinas              1.8              NaN  2019
Cidade3       São Paulo              1.9              NaN  2020
Cidade4  Ribeirão Preto              1.2              NaN  2021
Cidade5         Jundiaí              1.0              NaN  2022

In [33]:
# Mostrar os valores do DataFrame
df2.values

array([['Sorocaba', 1.6, nan, 2018],
       ['Campinas', 1.8, nan, 2019],
       ['São Paulo', 1.9, nan, 2020],
       ['Ribeirão Preto', 1.2, nan, 2021],
       ['Jundiaí', 1.0, nan, 2022]], dtype=object)

In [34]:
# Mostrar os tipos de dados do DataFrame
df2.dtypes

Cidade               object
Taxa Desemprego     float64
Taxa Crescimento     object
Ano                   int64
dtype: object

In [35]:
# Mostrar as colunas do DataFrame
df2.columns

Index(['Cidade', 'Taxa Desemprego', 'Taxa Crescimento', 'Ano'], dtype='object')

In [36]:
# Mostrando apenas uma coluna específica do DataFrame
df2['Cidade']
#Atenção: a linguagem Python é case sensitive

Cidade1          Sorocaba
Cidade2          Campinas
Cidade3         São Paulo
Cidade4    Ribeirão Preto
Cidade5           Jundiaí
Name: Cidade, dtype: object

In [38]:
# Se quiser mostrar mais de uma coluna, terá que passar os nomes das colunas dentro de uma lista.
# Por exemplo... vamos mostrar as colunas: Cidade e Ano
df2[ ['Cidade', 'Ano']]

                 Cidade   Ano
Cidade1        Sorocaba  2018
Cidade2        Campinas  2019
Cidade3       São Paulo  2020
Cidade4  Ribeirão Preto  2021
Cidade5         Jundiaí  2022

In [42]:
# Para exibir os índices...
df2.index

Index(['Cidade1', 'Cidade2', 'Cidade3', 'Cidade4', 'Cidade5'], dtype='object')

In [40]:
#Filtrando os dados pelo índice
df2.filter(items = ['cidade3'], axis = 0)

Empty DataFrame
Columns: [Cidade, Taxa Desemprego, Taxa Crescimento, Ano]
Index: []

### Usando Pandas com Numpy para Manipular Dados

In [43]:
df2.head()

                 Cidade  Taxa Desemprego Taxa Crescimento   Ano
Cidade1        Sorocaba              1.6              NaN  2018
Cidade2        Campinas              1.8              NaN  2019
Cidade3       São Paulo              1.9              NaN  2020
Cidade4  Ribeirão Preto              1.2              NaN  2021
Cidade5         Jundiaí              1.0              NaN  2022

In [44]:
df2.dtypes

Cidade               object
Taxa Desemprego     float64
Taxa Crescimento     object
Ano                   int64
dtype: object

In [45]:
# Mostrando o resumo estatístico desse DataFrame
df2.describe()
# Atenção: O método describe() faz o resumo estatístico apenas das colunas numéricas

       Taxa Desemprego          Ano
count         5.000000     5.000000
mean          1.500000  2020.000000
std           0.387298     1.581139
min           1.000000  2018.000000
25%           1.200000  2019.000000
50%           1.600000  2020.000000
75%           1.800000  2021.000000
max           1.900000  2022.000000

In [46]:
#Verificando se existem valores NA (not available) no dataFrame
df2.isna()

         Cidade  Taxa Desemprego  Taxa Crescimento    Ano
Cidade1   False            False              True  False
Cidade2   False            False              True  False
Cidade3   False            False              True  False
Cidade4   False            False              True  False
Cidade5   False            False              True  False

In [50]:
df2.isna().sum()

Cidade              0
Taxa Desemprego     0
Taxa Crescimento    5
Ano                 0
dtype: int64

In [51]:
# Para verificar apenas uma coluna específica...
df2['Taxa Crescimento'].isna()

Cidade1    True
Cidade2    True
Cidade3    True
Cidade4    True
Cidade5    True
Name: Taxa Crescimento, dtype: bool

Vamos utilizar o Numpy para preencher esses valores ausentes.

In [52]:
#Importando o NumPy
import numpy as np

In [57]:
#Usando o NumPy para alimentar uma das colunas do dataFrame em float
df2['Taxa Crescimento'] = np.arange(5.)

In [58]:
df2

                 Cidade  Taxa Desemprego  Taxa Crescimento   Ano
Cidade1        Sorocaba              1.6               0.0  2018
Cidade2        Campinas              1.8               1.0  2019
Cidade3       São Paulo              1.9               2.0  2020
Cidade4  Ribeirão Preto              1.2               3.0  2021
Cidade5         Jundiaí              1.0               4.0  2022

In [59]:
df2['Taxa Crescimento'].isna()

Cidade1    False
Cidade2    False
Cidade3    False
Cidade4    False
Cidade5    False
Name: Taxa Crescimento, dtype: bool

In [61]:
df2.isna().sum()

Cidade              0
Taxa Desemprego     0
Taxa Crescimento    0
Ano                 0
dtype: int64

In [62]:
#Resumo estatístico
df2.describe()

       Taxa Desemprego  Taxa Crescimento          Ano
count         5.000000          5.000000     5.000000
mean          1.500000          2.000000  2020.000000
std           0.387298          1.581139     1.581139
min           1.000000          0.000000  2018.000000
25%           1.200000          1.000000  2019.000000
50%           1.600000          2.000000  2020.000000
75%           1.800000          3.000000  2021.000000
max           1.900000          4.000000  2022.000000

### Fatiamento do DataFrame (slicing)

In [63]:
# Mostrando todo o dataFrame
df2

                 Cidade  Taxa Desemprego  Taxa Crescimento   Ano
Cidade1        Sorocaba              1.6               0.0  2018
Cidade2        Campinas              1.8               1.0  2019
Cidade3       São Paulo              1.9               2.0  2020
Cidade4  Ribeirão Preto              1.2               3.0  2021
Cidade5         Jundiaí              1.0               4.0  2022

In [64]:
# Fatiando todas as linhas do índice cidade2 até cidade4
df2['cidade2':'cidade4']
#Atenção: veja que o segundo parâmetro do slice não é exclusivo... ele é incluso no retorno.

Empty DataFrame
Columns: [Cidade, Taxa Desemprego, Taxa Crescimento, Ano]
Index: []

In [65]:
# Fatiamento do DataFrame com todos os dados onde Taxa de Desemprego for < 1.7
df2[ df2['Taxa Desemprego'] < 1.7 ]
# Quando eu utilizo colchetes é por que eu quero fatiar meu dataframe.

                 Cidade  Taxa Desemprego  Taxa Crescimento   Ano
Cidade1        Sorocaba              1.6               0.0  2018
Cidade4  Ribeirão Preto              1.2               3.0  2021
Cidade5         Jundiaí              1.0               4.0  2022

In [66]:
# Para fatiar por mais de uma coluna, temos que passar as colunas em uma lista python
df2[ ['Taxa Crescimento', 'Taxa Desemprego'] ]

         Taxa Crescimento  Taxa Desemprego
Cidade1               0.0              1.6
Cidade2               1.0              1.8
Cidade3               2.0              1.9
Cidade4               3.0              1.2
Cidade5               4.0              1.0